@media only screen and (max-width: 899px) {
    body {
        min-height: calc(100vh - 56px);
    }
}

@media only screen and (min-width: 1200px) {
    body {
        height: calc(100vh - 68px);
        overflow: hidden;
    }
}

#root {
    height: 100%;
}